@charset "UTF-8";
/*!
    common css style
    define the wrap of header/footer/page
*/
/* line 17, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
/* line 13, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 27, ../sass/_normalize.scss */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 40, ../sass/_normalize.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 49, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
/* line 64, ../sass/_normalize.scss */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 72, ../sass/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 81, ../sass/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 92, ../sass/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 105, ../sass/_normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
/* line 116, ../sass/_normalize.scss */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 125, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 136, ../sass/_normalize.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 145, ../sass/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 156, ../sass/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 165, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 173, ../sass/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 182, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 192, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 199, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 203, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 215, ../sass/_normalize.scss */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 223, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 232, ../sass/_normalize.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 240, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 256, ../sass/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 269, ../sass/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 279, ../sass/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 292, ../sass/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 303, ../sass/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 315, ../sass/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
/* line 323, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 336, ../sass/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 350, ../sass/_normalize.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 359, ../sass/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 369, ../sass/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 379, ../sass/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 388, ../sass/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
/* line 398, ../sass/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 407, ../sass/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
/* line 421, ../sass/_normalize.scss */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 429, ../sass/_normalize.scss */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 440, ../sass/_normalize.scss */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 448, ../sass/_normalize.scss */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 459, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* line 11, ../sass/_common.scss */
html {
  height: 100%;
  font-weight: 500;
}

/* line 16, ../sass/_common.scss */
div, ul, li, input {
  -moz-box-sizing: border-box;
  /*Firefox3.5+*/
  -webkit-box-sizing: border-box;
  /*Safari3.2+*/
  -o-box-sizing: border-box;
  /*Opera9.6*/
  -ms-box-sizing: border-box;
  /*IE8*/
  box-sizing: border-box;
}

/* line 24, ../sass/_common.scss */
body {
  font-family: "PingFang SC", Helvetica, "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important;
  font-weight: 300;
  height: 100%;
}

/* line 30, ../sass/_common.scss */
li {
  list-style: none;
}

/* line 34, ../sass/_common.scss */
.page {
  width: 100%;
  height: 100%;
  min-width: 960px;
}

/* line 40, ../sass/_common.scss */
.errorItem {
  border: 1px solid #fe5453 !important;
}

/* line 47, ../sass/_common.scss */
.tooltip-success-show {
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(254, 84, 83, 0.5);
  color: white;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  z-index: 10;
  display: none;
}

/* line 64, ../sass/_common.scss */
.setTopTgasDiv {
  top: 0 !important;
}

/* line 69, ../sass/_common.scss */
a:focus,
a:hover {
  text-decoration: none !important;
  outline: none !important;
}

/* line 74, ../sass/_common.scss */
a {
  outline: none !important;
}

/* line 79, ../sass/_common.scss */
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}

/* line 83, ../sass/_common.scss */
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
}

/* line 88, ../sass/_common.scss */
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #EDEDED;
}

/* line 154, ../sass/_common.scss */
.menu-bar > .right-part {
  position: absolute;
  right: 0;
}
/* line 158, ../sass/_common.scss */
.menu-bar > .right-part:hover .warnWindom {
  opacity: 1;
}
/* line 161, ../sass/_common.scss */
.menu-bar > .right-part a:last-child {
  margin-right: 0;
}

/* line 1, ../sass/_datapicker.scss */
.dropdown {
  position: relative;
}

/* line 5, ../sass/_datapicker.scss */
.dropdown-toggle:focus {
  outline: 0;
}

/* line 9, ../sass/_datapicker.scss */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

/* line 30, ../sass/_datapicker.scss */
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

/* line 35, ../sass/_datapicker.scss */
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

/* line 42, ../sass/_datapicker.scss */
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

/* line 53, ../sass/_datapicker.scss */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
}

/* line 61, ../sass/_datapicker.scss */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}

/* line 70, ../sass/_datapicker.scss */
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}

/* line 75, ../sass/_datapicker.scss */
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* line 83, ../sass/_datapicker.scss */
.open > .dropdown-menu {
  display: block;
}

/* line 87, ../sass/_datapicker.scss */
.open > a {
  outline: 0;
}

/* line 91, ../sass/_datapicker.scss */
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.428571429;
  color: #999999;
}

/* line 99, ../sass/_datapicker.scss */
.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

/* line 108, ../sass/_datapicker.scss */
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

/* line 114, ../sass/_datapicker.scss */
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0 dotted;
  border-bottom: 4px solid #000000;
  content: "";
}

/* line 121, ../sass/_datapicker.scss */
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

@media (min-width: 768px) {
  /* line 128, ../sass/_datapicker.scss */
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
}
/* line 134, ../sass/_datapicker.scss */
.btn-default .caret {
  border-top-color: #333333;
}

/* line 142, ../sass/_datapicker.scss */
.btn-primary .caret,
.btn-success .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret {
  border-top-color: #fff;
}

/* line 146, ../sass/_datapicker.scss */
.dropup .btn-default .caret {
  border-bottom-color: #333333;
}

/* line 154, ../sass/_datapicker.scss */
.dropup .btn-primary .caret,
.dropup .btn-success .caret,
.dropup .btn-warning .caret,
.dropup .btn-danger .caret,
.dropup .btn-info .caret {
  border-bottom-color: #fff;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
}

/* line 164, ../sass/_datapicker.scss */
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

/* line 175, ../sass/_datapicker.scss */
.glyphicon-arrow-left:before {
  content: "\e091";
}

/* line 179, ../sass/_datapicker.scss */
.glyphicon-arrow-right:before {
  content: "\e092";
}

/* line 183, ../sass/_datapicker.scss */
.setTime input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 5px;
  background: transparent;
  border: none;
  color: white;
  font-size: 14px;
  color: #333;
}

/* line 1, ../sass/_themeWhite.scss */
.menuPage {
  background: white !important;
  color: #666 !important;
}
/* line 6, ../sass/_themeWhite.scss */
.menuPage .typeTitle:hover {
  background: #f5f5f5 !important;
}
/* line 11, ../sass/_themeWhite.scss */
.menuPage .openColor, .menuPage .hasInfoColor {
  color: #447ed9 !important;
  background: none;
}
/* line 15, ../sass/_themeWhite.scss */
.menuPage .openColor .fa, .menuPage .hasInfoColor .fa {
  color: #447ed9 !important;
}
/* line 20, ../sass/_themeWhite.scss */
.menuPage .showInfoLi {
  background: transparent !important;
  color: #666 !important;
}
/* line 23, ../sass/_themeWhite.scss */
.menuPage .showInfoLi:hover {
  background: #f5f5f5 !important;
}
/* line 27, ../sass/_themeWhite.scss */
.menuPage .checkColor {
  background: #f5f5f5 !important;
  color: #447ed9 !important;
}

/* line 33, ../sass/_themeWhite.scss */
.center {
  background: #f1f1f1 !important;
}

/* line 10, ../sass/index.scss */
body {
  font-size: 0;
  background: url(../images/bg.jpg) no-repeat left top;
  background-size: 100%;
}

/* line 17, ../sass/index.scss */
.banner {
  width: 100%;
  height: 90px;
  background: rgba(0, 48, 112, 0.7);
}

/* line 23, ../sass/index.scss */
.logoC {
  width: 220px;
  position: relative;
  line-height: 90px;
  text-align: center;
}
/* line 30, ../sass/index.scss */
.logoC div {
  font-size: 20px;
  color: white;
  display: inline-block;
  vertical-align: middle;
}

/* line 38, ../sass/index.scss */
.logo {
  width: 40px;
  position: relative;
  left: 0px;
  top: 0px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/* line 50, ../sass/index.scss */
.menuPage {
  background: rgba(0, 48, 112, 0.7);
  width: 220px;
  height: calc(100% - 90px);
  overflow-y: auto;
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: white;
  border-top: 1px solid white;
  border-right: 1px solid white;
}
/* line 64, ../sass/index.scss */
.menuPage:hover {
  cursor: pointer;
}
/* line 69, ../sass/index.scss */
.menuPage .fa {
  margin-right: 10px;
  margin-left: 10px;
}
/* line 74, ../sass/index.scss */
.menuPage .fa-lg {
  font-size: 18px;
  line-height: 0px;
}
/* line 79, ../sass/index.scss */
.menuPage .openColor {
  background: #0d5b8d;
}
/* line 84, ../sass/index.scss */
.menuPage .hasInfo .typeTitle {
  padding-left: 35px;
}
/* line 89, ../sass/index.scss */
.menuPage .typeLi {
  border-bottom: 1px solid white;
}
/* line 92, ../sass/index.scss */
.menuPage .typeLi .hasInfoColor .upDown {
  color: #fe5453;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
/* line 101, ../sass/index.scss */
.menuPage .typeLi .openColor .fa {
  color: #fe5453;
}
/* line 105, ../sass/index.scss */
.menuPage .typeLi .typeTitle {
  background: transparent;
  min-height: 50px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}
/* line 113, ../sass/index.scss */
.menuPage .typeLi .typeTitle:hover {
  cursor: pointer;
  background: rgba(0, 48, 112, 0.5);
}
/* line 121, ../sass/index.scss */
.menuPage .checkColor {
  background: #0f365f;
}
/* line 125, ../sass/index.scss */
.menuPage .typeItem {
  display: none;
}
/* line 129, ../sass/index.scss */
.menuPage .typeItem li {
  background: #081d33;
  color: #b0bfce;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
}
/* line 137, ../sass/index.scss */
.menuPage .typeItem li:hover {
  cursor: pointer;
  background: #0f365f;
}

/* line 149, ../sass/index.scss */
.center {
  height: calc(100% - 90px);
  width: calc(100% - 222px);
  min-width: calc(960px - 222px);
  background: transparent !important;
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow-y: auto;
  padding-top: 30px;
}

/* line 170, ../sass/index.scss */
.nomalItem {
  display: inline-block;
  vertical-align: top;
  margin: 0px 15px 0px 15px;
  position: relative;
}

/* line 180, ../sass/index.scss */
.titleWord {
  width: auto;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
  color: #666;
  width: 80px;
  font-size: 16px;
}

/* line 191, ../sass/index.scss */
.selectItem {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  position: relative;
}
/* line 198, ../sass/index.scss */
.selectItem .selectValue {
  width: 100%;
  height: 30px;
  position: relative;
  border: solid 1px #bfbfbf;
  border-radius: 3px;
  font-size: 14px;
  color: #333;
  line-height: 30px;
  padding-left: 5px;
  cursor: pointer;
}
/* line 211, ../sass/index.scss */
.selectItem .setSelect {
  width: 100%;
  max-height: 300px;
  overflow: auto;
  position: absolute;
  top: 35px;
  border: 1px solid #e0e0e0;
  display: none;
  z-index: 5;
  background: white;
}
/* line 222, ../sass/index.scss */
.selectItem .setSelect li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: top;
  border-bottom: 1px solid #e0e0e0;
  color: #666;
  font-size: 20px;
  cursor: pointer;
}
/* line 233, ../sass/index.scss */
.selectItem .setSelect li:hover {
  background-color: #ebf0fb;
}
/* line 238, ../sass/index.scss */
.selectItem .setSelect li:last-child {
  border-bottom: none;
}

/* line 250, ../sass/index.scss */
.carSelectItemAdd {
  margin-left: 276px;
}

/* line 254, ../sass/index.scss */
.carSelectItem {
  width: 200px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
/* line 261, ../sass/index.scss */
.carSelectItem .carSelectVal {
  width: 200px;
  height: 30px;
  position: relative;
  border: solid 1px #bfbfbf;
  border-radius: 3px;
  font-size: 14px;
  color: #333;
  line-height: 30px;
  padding-left: 5px;
  cursor: pointer;
}

/* line 276, ../sass/index.scss */
.checkIndex {
  height: auto;
  width: 28px;
  background: #f8f8f8;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  vertical-align: top;
  float: left;
}
/* line 288, ../sass/index.scss */
.checkIndex li {
  width: 28px;
  height: 20px;
  text-align: center;
  vertical-align: top;
  color: 50px;
  line-height: 20px;
  font-size: 16px;
}
/* line 298, ../sass/index.scss */
.checkIndex li:hover {
  cursor: pointer;
  background: #386ed3;
}

/* line 307, ../sass/index.scss */
.carSelect {
  position: absolute;
  top: 35px;
  left: 0;
  width: 350px;
  display: none;
  z-index: 5;
}

/* line 318, ../sass/index.scss */
.listJump::-webkit-scrollbar {
  display: none;
}

/* line 323, ../sass/index.scss */
.listJump {
  height: 100%;
  width: 150px;
  background: #f8f8f8;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  overflow-y: auto;
  max-height: 460px;
  border-left: 1px solid #e0e0e0;
  cursor: pointer;
  float: left;
}
/* line 338, ../sass/index.scss */
.listJump dt {
  color: #386ed3;
  background-color: #ebf0fb;
  border-bottom: 1px solid #e0e0e0;
}
/* line 344, ../sass/index.scss */
.listJump dd {
  border-bottom: 1px solid #e0e0e0;
}
/* line 347, ../sass/index.scss */
.listJump dd:hover {
  background-color: #ebf0fb;
}
/* line 352, ../sass/index.scss */
.listJump dd::last-child {
  border-bottom: none;
}
/* line 357, ../sass/index.scss */
.listJump dt,
.listJump dd {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: top;
}

/* line 366, ../sass/index.scss */
.listDes {
  height: auto;
  width: 150px;
  background: #f8f8f8;
  display: none;
  vertical-align: top;
  font-size: 16px;
  overflow-y: auto;
  max-height: 460px;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  float: left;
}
/* line 382, ../sass/index.scss */
.listDes .listDesUl li {
  width: 100%;
  height: 31px;
  line-height: 31px;
  text-align: center;
  vertical-align: top;
  border-bottom: 1px solid #e0e0e0;
}
/* line 390, ../sass/index.scss */
.listDes .listDesUl li:hover {
  background-color: #ebf0fb;
}
/* line 395, ../sass/index.scss */
.listDes .listDesUl li::last-child {
  border-bottom: none;
}

/* line 404, ../sass/index.scss */
.setMoreItem {
  width: 100%;
  display: block !important;
  margin-top: 10px;
}

/* line 412, ../sass/index.scss */
.addMore,
.delMore {
  width: auto;
  height: 30px;
  position: relative;
  font-size: 14px;
  color: white;
  line-height: 30px;
  color: #666;
  display: inline-block;
  vertical-align: top;
  left: 29px;
  cursor: pointer;
}
/* line 425, ../sass/index.scss */
.addMore:hover,
.delMore:hover {
  color: #fe5453;
}

/* line 431, ../sass/index.scss */
.search {
  width: auto;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  font-size: 14px;
  color: white;
  line-height: 30px;
  color: #666;
  display: inline-block;
  vertical-align: top;
  left: 29px;
  cursor: pointer;
  border: 1px solid #fe5453;
  min-width: 100px;
  text-align: center;
  border-radius: 10px;
  background: #fe5453;
  color: white;
  margin-left: 12px;
}
/* line 454, ../sass/index.scss */
.search:hover {
  background: #ea0301;
}

/* line 460, ../sass/index.scss */
.dataValue {
  margin-top: 15px;
}

/* line 464, ../sass/index.scss */
.setTime {
  width: 200px;
  height: 30px;
  position: relative;
  border: solid 1px #bfbfbf;
  border-radius: 3px;
  font-size: 14px;
  color: #333;
  line-height: 30px;
  text-indent: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

/* line 480, ../sass/index.scss */
.showData {
  width: 282px;
  font-size: 20px;
  color: white;
  position: absolute;
  z-index: 5;
  right: 0;
  top: 50px;
}

/* line 498, ../sass/index.scss */
.opop {
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-top: 10px;
  height: 200px;
}

/* line 512, ../sass/index.scss */
.chartsItem {
  width: 100%;
  border: 1px solid #0056b3;
  background: url(../images/botBorder.png) no-repeat left bottom;
  background-size: 100% 30px;
  background-color: rgba(0, 111, 255, 0.12);
}

/* line 520, ../sass/index.scss */
.nomalTitle {
  width: 100%;
  height: 30px;
  color: #333;
  font-size: 14px;
  line-height: 30px;
  padding-left: 20px;
  background: url(../images/topBorder.png) no-repeat left top;
  background-size: 100% 30px;
}

/* line 532, ../sass/index.scss */
.nomalChart {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  padding: 10px;
  height: auto;
}

/* line 549, ../sass/index.scss */
.bMap {
  height: 450px !important;
}

/* line 553, ../sass/index.scss */
.one {
  width: calc(100% - 20px);
  margin: 0 auto;
  margin-left: 10px;
  margin-top: 10px;
}
/* line 559, ../sass/index.scss */
.one .chartsItem {
  height: 300px;
}
/* line 563, ../sass/index.scss */
.one .nomalTitle {
  background: url(../images/topBorder3.png) no-repeat left top !important;
  background-size: 100% 30px !important;
}
/* line 568, ../sass/index.scss */
.one .chartsItem {
  background: url(../images/botBorder3.png) no-repeat left bottom !important;
  background-size: 100% 30px !important;
}

/* line 574, ../sass/index.scss */
.two {
  width: calc(100%/2 - 15px);
  margin-left: 10px;
  margin-top: 10px;
}
/* line 579, ../sass/index.scss */
.two .chartsItem {
  height: 200px;
}

/* line 585, ../sass/index.scss */
.three {
  width: calc(100%/3 - 16px);
  margin-left: 10px;
  margin-top: 10px;
}
/* line 590, ../sass/index.scss */
.three .chartsItem {
  height: 150px;
}

/* line 598, ../sass/index.scss */
.chinaCss {
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-top: 10px;
}
/* line 602, ../sass/index.scss */
.chinaCss .chartsItem {
  height: 500px;
}
