@import "normalize";
@import "compass/css3";
@import "common";

$bfont:24px;
$nfont:20px;
$sfont:16px;


body {
    background: black;
    font-size: 0;
}

.left{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 260px;
    height: 100%;
    background: rgb(44, 168, 255);
     float: left;
}

.logo{

 width: 230px;
 margin: 0 auto;
 height: 50px;
 border-bottom: 1px solid #ccc;


      img{
        width: 50px;
        display: inline-block;
        vertical-align: middle;
        line-height: 50px;
      }
      div{
        color:white;
        font-size: 20px;
        display: inline-block;
        vertical-align: middle;
        line-height: 50px;
        margin-left:10px;
      }

}



 .ac{
    background:white !important;
    color:black !important;
  }

.leftUrl{


  width: 230px;
  margin: 0 auto;
  padding-top: 20px;




  li{

      color:white;
      font-size: 18px;
      height: 50px;
      width: 230px;
      margin: 0 auto;
      border-radius:30px;
      text-align: center;
      line-height: 50px;
      &:hover{
        background:rgba(255,255,255,0.1);
      }
  }


}

.right{

   width: calc(100% - 260px);
   height: 100%;
   overflow: auto;
   background:white;
   display: inline-block;
   vertical-align: top;
   float: left;


}


.item{

    display: inline-block;
    vertical-align: top;
    margin-left: 20px;

   div{
    display: inline-block;
    vertical-align: top;
    height: 30px;
    width: auto;
    color:black;
    font-size:16px;
    line-height: 30px;
   }

   div:nth-child(2){
    width: 120px;
    border:1px solid #ccc;
    margin-left: 10px;
    padding-left:5px;
    border-radius:5px;
   }

}
.lineItem{
    display: block;
    margin-top: 30px;
}
